.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.DS_Store
Results/MCMC/
Data/Processed/
Data/Prism/
Code/Stan_Models/.Rapp.history
Results/Stan/
*.rds
*.Rds
*.RDS
site_od_dwri.rds
Analysis_Original/
Results/JAGS/
Results/Stan/
*.txt
Code/Jags_Models/*.txt
Endnote*